body {
	background-color: #228B22;
	/*background-repeat: no-repeat;*/
	background-image: url('../images/header-grass.jpg');
}

.main-header {
	text-align: center;
	color: #228B22;
}

.main {
  background-color: #ececec;
  margin-top: 40px;
  padding-left: 100px;
  min-width: 1200px;
  height: 480px;
  position: relative;
  z-index: 1;
}

.footer-image {
  background-image: url('../images/tennisball-footer.jpg');
  background-color: #228B22;	
  width: 100%;
  height: 180px;
  position: absolute;
  float: left;
}