body {
  background-color: #228B22;
  /*background-repeat: no-repeat;*/
  background-image: url('../images/header-grass.jpg');
}

.main-header {
  text-align: center;
  color: #228B22;
}

.question h3, .answer h3{
  text-align: center;
}

.main {
  background-color: #ececec;
  margin-top: 40px;
  padding-left: 100px;
  min-width: 1200px;
  height: 430px;
  position: relative;
  z-index: 1;
}

.questions-form {
  background-color: white; /*#BDB76B;*/
  position: absolute;
  float: left;
  top: 1rem;  
  height: 25rem;
  width: 25rem;
  left:1rem;
}

.question{
  background-color: white;
  position: absolute;
  float: left;
  /*top: 1rem;*/  
  height: 9rem;
  width: 25rem;
  /*left:1rem;  */
}

.answer{
  background-color: #FFA500;
  position: absolute;
  float: left;
  top: 9rem;  
  height: 12rem;
  width: 23rem;
  left:1rem;
}

.background-info{
  background-color: white;
  position: absolute;
  float: left;
  top: 21rem; 
  height: 4rem;
  width: 25rem; 
}

.scoreboard {
  background-color: #008000;
  position: absolute;
  float: left;
  top: 1rem;  
  height: 17rem;
  width: 24rem;
  left:28rem;
}

.scoreboard h1,
.player,
.score {
  text-align: center; 
}

.player, .score {
  color: yellow;
  background-color: #006400;
  font-size: 2rem;
}

div h3{
  margin-top: 1px;
  margin-bottom: 3px; 
}

input{
  margin-top: 5px;
}

.player p, .score p {
  margin: 4px 0px 1px 0px;
}

.game-rules, 
.scoreboard,
.answer {
 border-radius: 5px;
}

.player {
  position: absolute;
  float: left;
  top: 5rem;  
  height: 6rem;
  width: 7rem;
  left:4rem;
}

.score {
  position: absolute;
  float: left;
  top: 5rem;  
  height: 6rem;
  width: 7rem;
  left:13rem;
}

.win-message {
  background-color: white;
  position: absolute;
  float: left;
  top: 12rem; 
  height: 3rem;
  width: 16rem;
  left:4rem;
}

.game-rules {
  background-color: #FFA500;
  position: absolute;
  float: left;
  top: 1rem;  
  height: 25rem;
  width: 24rem;
  left:54rem;
}

.footer-image {
  background-image: url('../images/tennisball-footer.jpg');
  background-color: #228B22;  
  width: 100%;
  height: 200px;
  position: absolute;
  float: left;
}